## DATA TYPES IN PYTHON: OVERVIEW

There are multiple types of numeric and non-numeric data types in Python

*Numeric:*
  - Boolean 
  - Integer
  - Float
  - Complex

*Non-Numeric:*
  - String

## NUMERIC DATA TYPES

### (1) Boolean

- Boolean variables are only assigned True (1) or False (0) 
- Very useful in evaluating conditions, masking, etc.

In [1]:
HurricaneLandfall = True  # example use: if certain condition met, HurricaneLandfall = True
print(HurricaneLandfall)
print(type(HurricaneLandfall))  # "type" identifies variable...type!

True
<class 'bool'>

### (2) Integer

   - Python will store whole numbers as integers unless you tell it otherwise 
   - Two types: 
      - *integer* (up to +/-200 x 10^6)
      - *long integer* (can hold bigger integers, but uses more memory)

In [2]:
m = 5
print(m)
print(type(m))

5
<class 'int'>

### (3) Float
- Represented as 64-bitâ€“-what other languages would call "double precision"

In [3]:
m = 5.0
print(m)
print(type(m))

5.0
<class 'float'>

### (4) Converting between numeric variable types: *float(x), int(x)*
  - can force conversion from float to integer or vice-versa - very handy!

In [4]:
float(4) # integer to float

4.0

In [5]:
int(4.5) # float to integer

4

## NON-NUMERIC DATA TYPES

### (1) Strings
- definition: a collection of characters in quotation marks

- #### syntax: "string" or 'string'

In [6]:
a = "hello" # just need to start and end with same type of quotation mark 
print(a)

hello

In [7]:
b = 'hello'
print(b)

hello

In [8]:
c = '"hello", she said' # can use quotes embedded within quotes 
print(c)

"hello", she said

- #### accessing elements: string[index]

In [9]:
a = "hello"
b = "world"

# REMEMBER INDEXING BEGINS AT "0" IN PYTHON
print(a[0]) # index [0] is the first character of the string
print(a[-1]) # index [-1] is the last character of the string
print(a[1:3]) # index [m:n] references the mth to the nth-1 characters

h
o
el

- #### concatenating strings: using the + operator

In [10]:
c = a+b  # the "+" symbol concatenates strings 
print(c) 
c = a+' '+b # add a space in the concatenation 
print(c)

helloworld
hello world

- #### functions for strings

In [11]:
c.find("world") # the substring 'world' begins at index 6
# plenty more in the book!

6

- #### formatting strings for printing using special characters 
  - *Newline*: \n --- this is carriage return + line feed, in a printer
   <br><br>
  - *Return*: \r --- carriage return, no line feed
  <br><br>
  - *Tab*: \t

In [12]:
a = "Hello, world!\n"  # Printing two separate lines!
b = "How are you today?"
print(a+b)

Hello, world!
How are you today?

- ####  converting string to numeric data type

In [13]:
a = "6" # a is initially a string!
print(a)
print(type(a))

b = float(a) # convert to a float!
print(b)
print(type(b))

6
<class 'str'>
6.0
<class 'float'>

## DATA COLLECTIONS: OVERVIEW

There are various types of data collections (structures) in Python:
- Lists
- Tuples
- Dictionaries 
- (Sets)
- (Arrays - covered extensively in NumPy)

## DATA COLLECTIONS: LISTS AND TUPLES

### (1) overview
- both are collections of values
<br><br>
- **key**:  you can store varied data types within both lists and tuples!
<br><br>
- lists are defined using *brackets*
<br><br>
- tuples are defined using *parantheses*
<br><br>

In [14]:
# Example of a list
L1 = [4.5, -7.8, 'pickle', True, 5, None, 5] # None is a type of data too! 
print(L1)

[4.5, -7.8, 'pickle', True, 5, None, 5]

In [15]:
# Example of a tuple
L2 = (4.5, -7.8, 'pickle', True, None, 5) # None is a type of data too! 
print(L2)

(4.5, -7.8, 'pickle', True, None, 5)

### (2) acessing elements (aka, indexing tuples/lists):  
  - if more than one element, result is a list or a tuple!
  - syntax:

In [16]:
print(L1)
# Same indexing idea as we saw in strings!
print(L1[0]) # first element in L1
print(L1[-1]) # last element in L1

[4.5, -7.8, 'pickle', True, 5, None, 5]
4.5
5

In [17]:
# Slicing - accessing multiple elements - results in a list
print(L1[1:3]) # second and third elements

[-7.8, 'pickle']

In [18]:
# Same for the tuple
print(L2[1:3]) # except result is a tuple

(-7.8, 'pickle')

In [19]:
# If have nested elements in list or tuple
# Access using list[][]

L3 = [[10,20,30],[40,50,60]]
print(L3)
L3[0][2]

[[10, 20, 30], [40, 50, 60]]

30

### (3) difference between lists and tuples 
  - lists can be changed (*mutable*)
  - tuples cannot be changed (*inmutable*)

In [20]:
print(L1)
L1[0] = 'Chewbacca'
print(L1)

[4.5, -7.8, 'pickle', True, 5, None, 5]
['Chewbacca', -7.8, 'pickle', True, 5, None, 5]

In [21]:
# If we tried: 
# L2[0] = 'Chewbacca'
# We'd get "TypeError: 'tuple' object does not support item assignment "

### (4) example list + tuple functions - *see Decaria for more!*

In [22]:
# Get number of items in list
print(L1)
d = len(L1)
print(d)

['Chewbacca', -7.8, 'pickle', True, 5, None, 5]
7

In [23]:
# Or more specifically, number of times a certain value is contained in list
d = L1.count(5)
print(d)

2

In [24]:
# Or when the certain value is first found in the list
d = L1.index(5)
print(d)

4

In [25]:
# Add element to list -- at the end
L1.append(20)
print(L1)

['Chewbacca', -7.8, 'pickle', True, 5, None, 5, 20]

In [26]:
# Or at a specific location
L1.insert(2,20) # insert '20' as the third element 
print(L1)

['Chewbacca', -7.8, 20, 'pickle', True, 5, None, 5, 20]

In [27]:
# Or, delete certain items
del L1[0]
print(L1)  # we deleted the first entry!

[-7.8, 20, 'pickle', True, 5, None, 5, 20]

## DATA COLLECTIONS: DICTIONARIES
### (1) Overview
- Like a list, only with values tied to a key rather than an index (as is the case in lists/tuples)
<br><br>
- Mutable
<br><br>
- Syntax

In [28]:
# One of multiple ways to create a dictionary
d ={'Species': 'Wookie','Name':'Chewbacca', 'Height':'90'}  # Species, name, and height are the keys
print(d)

{'Species': 'Wookie', 'Name': 'Chewbacca', 'Height': '90'}

### (2) Accesing, creating, and modifying elements (see 2.8 in Decaria for more functions)

In [29]:
# Accessing element
print(d['Species'])  # Chewbacca's species

Wookie

In [30]:
# Adding a new element
d['Hometown'] = 'Kashyyyk' # new hometown key and value pair!
print(d)

{'Species': 'Wookie', 'Name': 'Chewbacca', 'Height': '90', 'Hometown': 'Kashyyyk'}

In [31]:
# Deleting element 
del d['Height'] # delete the 'Height' key and value 
print(d)

{'Species': 'Wookie', 'Name': 'Chewbacca', 'Hometown': 'Kashyyyk'}

In [32]:
# Print all the keys - same syntax for values 
print(d.keys())

dict_keys(['Species', 'Name', 'Hometown'])

## DATA COLLECTIONS: SETS AND ARRAYS
### (1) Sets
 - collections of objects that are unordered and do not contain duplicate members
 - pass a list or tuple into set() to create
 
### (2) Arrays
  - collections of values that all must be of the same data type
  - we'll spend significant time on NumPy arrays - numerical