## Moving forward in this class, you’ll sometimes access data files for lessons, assignments, etc. by downloading from rfd.atmos.uiuc.edu (a server in the ATMS department) or other servers

### (1) One option for Jupyter notebook or Colab:

In [ ]:
import urllib.request # module for downloading data from URLs, may need to install

url = 'http://rfd.atmos.uiuc.edu/Atms517/week4/air.mon.mean_levs.nc'
# this particular data file is           
                                                                                                                                      # 300 mb in size, fyi
filename = 'air.mon.mean_levs.nc'
  
 # Downloads what is at the address passed in as 'url' and saves as what you passed in as 'filename’
urllib.request.urlretrieve(url, filename)


# you may need to install netcdf4 module if you haven’t already when you go to read in this file

### (2) Another option for Colab:

In [ ]:
!wget http://rfd.atmos.uiuc.edu/Atms517/week4/air.mon.mean_levs.nc

# you may need to install netcdf4 module if you haven’t already when you go to read in this file

In [1]:
import pandas as pd
import numpy as np
data_np = np.array(
    [
     [34, 25, 12, 310],
     [32, 25, 9, 290],
     [32, 19, 10, 270],
     [36, 25, 10, 290]
    ]
)

data_index = ['Champaign', 'Danville', 'Bloomington', 'Decatur']
data_colummns = ['temperature', 'dew point', 'wind speed', 'wind direction']

# create a dataframe from the numpy array
data_df = pd.DataFrame(data_np, index=data_index, columns=data_colummns)

In [2]:
data_df

             temperature  dew point  wind speed  wind direction
Champaign             34         25          12             310
Danville              32         25           9             290
Bloomington           32         19          10             270
Decatur               36         25          10             290

In [3]:
# access the wind speed in Bloomington using loc
data_df.loc['Bloomington', 'wind speed']

10

In [4]:
#  access the wind speed in Bloomington using iloc 
data_df.iloc[2, 2]

10

In [7]:
numbers =  np.arange(1,10,1)
print(numbers)
def func_ex(vals):  

    nsum = 0

    for x in vals:        

        if (x>=6) | (x%3==0):

            nsum = nsum+x            

    return nsum  

func_ex(numbers)

[1 2 3 4 5 6 7 8 9]

33

In [8]:
data_np = np.array(
    [[42,	26],
    [30,	18],
    [31,	15]
    ]
)
data_np.mean(axis=1)

array([34., 24., 23.])